doctype html
html
  head
    meta(charset='UTF-8')
    title Hello World!
  body
    h1 Hello World!
    div
      | We are using node 
      script.
        document.write(process.versions.node)
      | , Chrome 
      script.
        document.write(process.versions.chrome)
      | ,
      | and Electron 
      script.
        document.write(process.versions.electron)
      | .
    h2 This is generated with inline coffee-script, compiled to js:
    pre
      code
        script
          :coffee
            for i in [ 1 .. 10 ]
              document.write "#{i} * #{i} = #{i*i}\n"
